!!!
%html{:lang => :zh}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %title Visual Map Unit Test

    %link{:rel => 'stylesheet', :href => 'qunit/qunit-1.14.0.css'}

  %body
    #qunit
    #qunit-fixture

    %script{:type => 'text/javascript', :src => '../lib/jquery-2.1.0.min.js'}
    %script{:type => 'text/javascript', :src => '../lib/sea-2.2.1.js'}
    %script{:type => 'text/javascript', :src => 'qunit/qunit-1.14.0.js'}
    %script{:type => 'text/javascript', :src => 'dist/test/unit-test.js'}